@font-face {
    font-family: 'Clash Grotesk';
    src: url('/ClashGrotesk-Variable.ttf') format('truetype');
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::selection {
    background: #1f2232;
    color: #fff;
}

.fade-in {
    animation: fade-in ease;
    animation-timeline: view(block 10% 50%);
    animation-fill-mode: both;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    max-width: 100vw;
    overflow: hidden auto;
    font-family: 'clash grotesk', sans-serif;
    font-size: 16px;
    color: #333;
    background-image: conic-gradient(at 50vw 60vh, #444865, #434866, #eee, white);
    background-repeat: no-repeat;
}

#nav {
    position: fixed;
    top: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: fit-content;
    padding: 7px;
}

.nav-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    width: 80%;
    padding: 15px 20px;
    border: 0px solid #202020;
    border-radius: 50px;
    background: #fff6;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 3px #44486533;
}

.logo {
    font-size: 20px;
    font-weight: bold;
    cursor: default;
    color: #444865;
}

.nav-links a.link {
    color: #111111;
    text-transform: capitalize;
    text-decoration: none;

    padding: 7px 25px;
    border-radius: 20px;
    opacity: 0.6;
    transition: .3s ease;
    cursor: pointer;
}

.nav-links a.link:hover {
    opacity: 1;
    background-color: #fff7;
    box-shadow: inset 2px 0 3px #fff5;
}

#hero {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    padding: 10px;
}

#hero .left,
#hero .right {
    flex-grow: 0.5;
    width: 100%;
    text-align: center;
    font-family: 'Clash Grotesk', sans-serif;
    font-size: 68px;
    padding: 20vh 0;
    text-transform: lowercase;

    /* New syntax for scroll-driven animations */
    animation: hero-parallax linear;
    animation-timeline: view(block 0% 100%);
}

#hero .left {
    color: #363b5c;
    --i: 150%;
}

#hero .right {
    color: #fff;
    --i: -150%;
}

@keyframes hero-parallax {
    from {
        transform: translate(0, 0px);
    }

    to {
        transform: translate(var(--i), 0px);
    }
}

#hero p {
    font-size: 18px;
    text-align: center;
}


#my-image {
    position: absolute;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-grow: 0.4;
    height: 100%;
}

#my-image img {
    height: 85vh;
    user-select: none;
    pointer-events: none;
    animation: me-parallax linear;
    animation-timeline: view(block 0% 100%);
    animation-fill-mode: both;
}

@keyframes me-parallax {
    from {
        transform: translate(0, 0px);
        border-radius: 0;
    }

    to {
        transform: translate(-30vw, 90vh);
        border-radius: 50%;
    }
}

#about {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    width: 70%;
    max-width: 900px;
    min-width: 400px;
    padding: 20px 40px;
    margin: -12vh;
    background: radial-gradient(at 50% 0%, #fff4, #fffe);
    backdrop-filter: blur(25px);
    border-radius: 20px;
    box-shadow: inset 0 0 4px #fff, 0 0 20px #0002;

    animation: about-parallax linear;
    animation-timeline: view(block 0% 0%);
    animation-fill-mode: both;
}

@keyframes about-parallax {
    from {
        transform: translate(0, 0px);
    }

    to {
        transform: translate(10vw, 60vh);
        width: 70%;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-transform: lowercase;
    font-weight: 1000;
}

#about p {
    font-size: 18px;
    text-align: justify;
    letter-spacing: .5px;
}

.about-stats {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.stat-item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #ffffffb5;
    box-shadow: inset 0 0 4px #fff;
    padding: 0px 20px;
    aspect-ratio: 1 / 0.7;
    width: 150px;
    border-radius: 20px;
    cursor: default;
}

.stat-number {
    font-size: 2.5em;
    font-weight: 500;
    color: #444865;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.stat-label {
    font-size: 16px;
    color: #777;
}

#about h1 {
    padding: 10px;
    color: #ffffff;
    letter-spacing: 1px;
    font-size: 38px;
}

div#skills {
    display: flex;
    align-items: center;
    margin-top: 90vh;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 100%;
    min-height: 50vh;
}

#skills h1 {
    font-size: 100px;
    color: #363b5c;
}

.skills-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.skill-group {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 20px;
    width: 400px;
    height: 80px;
    padding: 20px;
    overflow: hidden;
    background: radial-gradient(at 50% 0%, #fff4, #fffe);
    backdrop-filter: blur(25px);
    margin-bottom: calc(250px - 80px + 10px);
    border-radius: 20px;
    box-shadow: inset 0 0 4px #fff, 0 0 20px #0002;
    animation: skill-group-parallax ease;
    animation-timeline: view(block 10% 20%);
    animation-fill-mode: both;
    transition: .3s;
}

@keyframes skill-group-parallax {
    0% {
        transform: translate(calc(-10vw*var(--i)));
    }

    50% {
        height: 250px;
        margin-bottom: 10px;
    }

    100% {
        transform: translate(calc(10vw*var(--i)));
    }
}

.skill-group h2 {
    font-size: 32px;
    color: #4c516d;
}


.skill-group ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
}

.skill-group ul li {
    width: 100px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #ffffffb5;
    box-shadow: inset 0 0 4px #fff;
    padding: 0px 20px;
    aspect-ratio: 1 / 0.7;
    width: 150px;
    border-radius: 20px;
    cursor: default;
}

#projects {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px 40px;
    width: 100%;
    height: 100vh;
    margin-top: 50px;
    background: radial-gradient(at 50% 0%, #fff4, #fff3);
    backdrop-filter: blur(2px);
    box-shadow: inset 0 0 4px #fff, 0 0 20px #0002;
}

#projects h1 {
    font-size: 100px;
    color: #444865;
}

.projects {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 30px;
    width: fit-content;
    padding-top: 0px;
    overflow: hidden;
    height: 70vh;
    animation: project-group-parallax ease;
    animation-timeline: view(block 0% 40%);
    animation-fill-mode: both;
    transition: .3s;
}

@keyframes project-group-parallax {
    0% {
        transform: translate(-50vw, 0px);
    }

    100% {
        transform: translate(50vw, 0);
    }
}

.project-card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;
    width: 300px;
    height: 450px;
    border: 2px solid #fff;
    padding: 20px;
    text-align: justify;
    border-radius: 50px;
    background: radial-gradient(at 50% 0%, #fff4, #fffe);
    backdrop-filter: blur(25px);
    border-radius: 20px;
    box-shadow: inset 0 0 4px #fff, 0 0 20px #0002;
}

.project-card a.btn {
    text-decoration: none;
    color: #4755b6;
    padding: 10px 20px;
    cursor: pointer;
    background: #fff;
    border-radius: 20px;
    opacity: .8;
    scale: .9;
    transition: .3s;
}

.project-card a.btn:hover {
    scale: 1;
    opacity: 1;
}

h2.title {
    font-size: 32px;
    text-align: center;
    font-weight: 600;
}

.description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
}

span.tech-item {
    background: #fff;
    padding: 5px 15px;
    border-radius: 10px;
    cursor: default;
    box-shadow: 0 1px 2px 1px #0002;
}

.tech {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    font-size: 13px;
    font-family: consolas;
}


#contact h1 {
    font-size: 100px;
    color: #fff;
}

div#contact {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 100px 0px;
    gap: 30px;
    width: 100%;
    background: linear-gradient(45deg, #eee, transparent);
}

.contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 50px;
}

.contact-card {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: radial-gradient(#ffffff, #e0e0e094);
    border-radius: 30px;
    height: 100px;
    box-shadow: inset 0 0 20px 20px #fff, 0 0 20px #fff4;
    overflow: hidden;
    text-decoration: none;
    width: 100px;
    transition: .3s;
}

a.contanct {
    color: #4755b6;
    text-decoration: none;
}

.name {
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100px;
    background: #4c516d;
    color: #fff;
}

.contanct {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    width: 100%;
    font-size: 18px;
    color: #4755b6;
    word-break: break-word;
    padding: 10px;
}
.contact-card:hover {
    width: 300px;
}

.name svg {
    color: #fff;
    fill: #fff;
    width: 40px;
    height: 40px;
}

.contact-card {
    animation: contact-card-entry ease;
    animation-timeline: view(block 80% 20%);
    animation-fill-mode: both;
    transition: .3s;
}

@keyframes contact-card-entry {
    0% {
        scale: 2;
        opacity: 0
    }

    100% {
        scale: 1;
        opacity: 1;
    }
}
div#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: max(15vh, 100px) 0;
    color: #363b5c;
    font-weight: 400;
    opacity: .77;
    background: linear-gradient(45deg, #eee, transparent);
    width: 100%;
}

#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(140, 140, 140, 0.533);
    backdrop-filter: blur(12px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    transition: .4s;
}
.loader-line {
    width: 10px;
    height: 100px;
    background-color: #ffffffcc;
    backdrop-filter: blur(10px);
    animation: loading 1.5s ease-in-out infinite;
    margin: 0 2px;
    animation-delay: calc( var(--i) * 0.2s);
    border-radius: 10px;
}
.loader-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 5px;
}

@keyframes loading {
    0% {
        height: 10px;
    }
    50% {
        height: 100px;
    }
    100% {
        height: 10px;
    }
}
.loader-hidden {
    opacity: 0;
    pointer-events: none;
    user-select: none;
}